@using System.Security.Principal

@{
    var nameClaim = User.FindFirst(c => c.Type == "name");
    var displayName = nameClaim?.Value ?? User.Identity?.Name;
}

@if (User.Identity?.IsAuthenticated == true)
{
    <span title="@User.Identity?.Name">Hello @displayName</span>
    <a class="btn btn-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign
        out</a>
}
else
{
    <a class="btn btn-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
}
