@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome</h1>
    <div id="msal-login">
        Loading MSAL.js...
    </div>
    <div id="tokens"></div>
    <div id="forecast"></div>
</div>
