@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome</h1>
    <div id="msal-login">
        Loading MSAL.js...
    </div>
    <h2>Tokens</h2>
    <ul id="tokens">
    </ul>
</div>
